/* Start Global */

:root {
    font-size: calc(0.3em + 1vw);
    box-sizing: border-box;

    /* font variables */
    --font-logo-heading: 5rem;
    --font-logo-subheading: 1.5rem;
    --font-about-heading: 5rem;
    --font-about-subheading: 1rem;
    --font-menu-heading: 2rem;
    --font-section-heading: 2rem;
    --font-section-subheading: 1rem;
    --font-portfolio-main: 1.25rem;
    --font-timeline-heading: 1.25rem;


    /* gradient variables */
    --background-gradient-font: linear-gradient(to top, #ffe838, #fd57bf);
    --background-gradient-menu: linear-gradient(to right, #ffe838, #fd57bf);
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
} 


/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

html{
    font-family: 'Raleway', sans-serif;
    color: #eee;
}

body{
    width: 100%;
    height: 100%;
    background: url('../img/sitebg.jpg') no-repeat center fixed;
    background-size: cover;
}

section{
    padding: 3rem 0;
}

a{
    text-decoration: none;
    color: #eee
}

p{
    font-size: 0.75rem;
    font-weight: 300;
}

img{
    width: 100%;
}

/* End Global */


/* Start Reusable */

.container {
    width: 90%;
    max-width: 120rem;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.section-heading {
    text-align: center;
    /* color: #ccc; */
    margin-bottom: 5rem;
}

.section-heading h1 {
    font-size: var(--font-section-heading);
    color: rgba(255,255,255, .3);
    text-transform: uppercase;
    font-weight: 300;
    position: relative;
    margin-bottom: 1rem;
    /* for some reason text is not really centered
    after adding letter spacing. Extra space computed after last letter
    so we add left padding to deal with it
    */
    letter-spacing: 0.75em;
    padding-left: 0.75em;
}

.section-heading h1::before,
.section-heading h1::after {
    content: '';
    position: absolute;
    bottom: -0.5rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.75);
}

.section-heading h1::before{
    width: 10rem;
    height: 3px;
    border-radius: .8rem;
}

.section-heading h1:after {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    bottom: calc(-1.25rem + 3px);  
}

.section-heading h6 {
    font-size: var(--font-section-subheading);
    font-weight: 300;

}


.has-margin-right {
    margin-right: 5rem;
}

/* End Reusable */

/* Start Header */

header {
    width: 100%;
    height: 100vh;
}

.top-nav  {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: -100vh;
    background-color: #16162d;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    -webkit-transition: all 650ms cubic-bezier(1,0,0,1);
    transition: all 650ms cubic-bezier(1,0,0,1);
    z-index: 1300;
}

.nav-list {
    list-style: none;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

li {
    margin: 0 1em;
}

.nav-link{
    font-family: 'Exo 2', sans-serif;
    font-size: var(--font-menu-heading);
    padding: 1rem;
}

.nav-link:hover,
.nav-link:focus {
    background: var(--background-gradient-font);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.top-nav.open {
    top: 0;
    border-radius: initial;
}

.menu-toggler{
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 3rem;
    height: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    cursor: pointer;
    z-index: 1500;
    -webkit-transition: -webkit-transform 650ms ease-out;
    transition: -webkit-transform 650ms ease-out;
    transition: transform 650ms ease-out;
    transition: transform 650ms ease-out, -webkit-transform 650ms ease-out;
}

.menu-toggler.open {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
}


.bar {
    background: var(--background-gradient-menu);
    width: 100%;
    height: 4px;
    border-radius: .8rem;
}

.bar.half {
    width: 50%;
}

.bar.start {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transition: -webkit-transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transition: -webkit-transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57), -webkit-transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57)
}



.bar.end {
    -ms-flex-item-align: end;
        align-self: flex-end;
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transition: -webkit-transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transition: -webkit-transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57), -webkit-transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57)
}

/* making translate x equal to height of the bar */

.open .bar.start {
    -webkit-transform: rotate(-450deg) translateX(4px);
            transform: rotate(-450deg) translateX(4px);
}

.open .bar.end {
    -webkit-transform: rotate(-450deg) translateX(-4px);
            transform: rotate(-450deg) translateX(-4px);
}

.landing-text {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    opacity: 1;
    z-index: 1200;
}

.landing-text h1{
    font-size: var(--font-logo-heading);
    font-family: 'Exo 2', sans-serif;
    
    padding: 1rem;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    /* color: #aaa; */
}

.landing-text h1 span{
    background: -webkit-linear-gradient(left, #eee, #202020);
    background: linear-gradient(to right, #eee, #202020);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    opacity: 0;
    -webkit-animation: logoAnimation 1s forwards;
            animation: logoAnimation 1s forwards;
}

.landing-text h6{
    font-size: var(--font-logo-subheading);
    font-weight: 300;
}

video{
    width: 100%;
    height: 100vh;
    -o-object-fit: cover;
       object-fit: cover;
}

.first-name:nth-child(1){
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
}
.first-name:nth-child(2){
    -webkit-animation-delay: 0.7s;
            animation-delay: 0.7s;
}
.first-name:nth-child(3){
    -webkit-animation-delay: 1.0s;
            animation-delay: 1.0s;
}
.first-name:nth-child(4){
    -webkit-animation-delay: 1.3s;
            animation-delay: 1.3s;
}
.first-name:nth-child(5){
    -webkit-animation-delay: 1.6s;
            animation-delay: 1.6s;
}
.first-name:nth-child(6){
    -webkit-animation-delay: 1.9s;
            animation-delay: 1.9s;
}
.first-name:nth-child(7){
    -webkit-animation-delay: 2.2s;
            animation-delay: 2.2s;
}
.first-name:nth-child(8){
    -webkit-animation-delay: 2.5s;
            animation-delay: 2.5s;
}
.first-name:nth-child(9){
    -webkit-animation-delay: 2.8s;
            animation-delay: 2.8s;
}

.last-name:nth-child(1){
    -webkit-animation-delay: 0.7s;
            animation-delay: 0.7s;
}
.last-name:nth-child(2){
    -webkit-animation-delay: 1.0s;
            animation-delay: 1.0s;
}
.last-name:nth-child(3){
    -webkit-animation-delay: 1.3s;
            animation-delay: 1.3s;
}
.last-name:nth-child(4){
    -webkit-animation-delay: 1.6s;
            animation-delay: 1.6s;
}
.last-name:nth-child(5){
    -webkit-animation-delay: 1.9s;
            animation-delay: 1.9s;
}
.last-name:nth-child(6){
    -webkit-animation-delay: 2.2s;
            animation-delay: 2.2s;
}
/* End Header */

/* Start About */

section.about{
    padding: 6rem 0;
}

.about .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.about-heading {
    text-align: center;
    text-transform: uppercase;
    line-height: 0;
    margin-bottom: var(--font-about-heading);
}

.about-heading h1{
    font-size: var(--font-about-heading);
    opacity: .3;
}

.about-heading h6{
    font-size: var(--font-about-subheading);
    font-weight: 300;
}


.profile-img {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-right: 5rem;

}

.about-details {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}

.social-media {
    margin-top: 5rem;

}

.social-media i {
    font-size: 3rem;
    -webkit-transition: color 650ms;
    transition: color 650ms;
}

.fa-facebook-square:hover{
    color: #4267b2;
}

.fa-twitter-square:hover{
    color: #38a1f3;
}

.fa-dribbble-square:hover{
    color: #ea4c89;
}
/* End About */


/* Start Services */

.my-skills {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 2.5rem;
}

.skill {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.skill h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 2rem -2px 2rem 0;
}

.icon-container {
    width: 5rem;
    /* border: 3px solid #ffe838;
    background-color: #fd57bf; */
    /* display: flex; */
}


/* .icon-container i {
    color: #ffe838;
    font-size: 5rem;
    margin: auto;
    transform: rotate(-45deg);
} */


/* End Services */

/* Start Portfolio */

.portfolio-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 5rem;
}

.portfolio-item:last-child {
    margin-bottom: 0;
}

.portfolio-img{
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}

.portfolio-desc {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}

.portfolio-desc h2 {
    font-size: 1.5rem;
    font-weight: 300;
    margin: 1rem 0;
}

.portfolio-desc h6 {
    font-size: var(--font-portfolio-main);
    text-transform: uppercase;
    font-weight: 300;
    opacity: 0.3;
}

.portfolio-desc .cta {
    display: inline-block;
    width: 100%;
    margin-top: 2.5rem;
    font-size: 1rem;
    text-transform: uppercase;
    color: #3883ff;
    -webkit-transition: color 650ms;
    transition: color 650ms;
}

.cta.text-align-start {
    text-align: start;
    text-align: left;
}

.cta.text-align-end {
    text-align: end;
    text-align: right;
}

.cta i {
    font-size: 3rem;
    color: #fff;
}

.cta i:hover {
    color: #bbb;
}

.portfolio-desc .cta:hover{
    color: #2f67cd;
}
/* End Portfolio */

/* Start Experience */

.timeline ul{
    border-left: 4px solid #ffe838;
    /* border-radius: 0.8rem; */
    background-color: rgba(0, 0, 0, 0.05);
    margin: 0 auto;
    position: relative;
    padding: 3em 2em;
    list-style: none;
    text-align: left;
    width: 40%;
}

.timeline h3{
    font-size: var(--font-timeline-heading);
    text-transform: uppercase;
    font-weight: 300;
    opacity: 0.3;
    margin-bottom: 2em;
}

.timeline .date {
    border-bottom: 1px solid rgba(255,255,255, .1);
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    position: relative;
}

.timeline .date:last-of-type{
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.timeline .date::before,
.timeline .date::after{
    position: absolute;
    display: block;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
}

.timeline .date::before{
    content: attr(data-date);
    left: calc(-3rem - 0.75em - 4px - 12rem - 0.5em);
    text-align: right;
    min-width: 12rem;
    font-size: 0.75rem;
}

.timeline .date::after{
    content: '';
    box-shadow: 0 0 0 4px #fd57bf;
    border-radius: 100%;
    /* calculation is based on 
    -(padding + margin)
    -radius of a circle
    -half width of yellow border line
    */
    left: calc(-3rem - 0.375em - 2px);
    height: 0.75em;
    width: 0.75em;
    background-color: #313534;
}
/* End Experience */

/* Start Contact */

.contact-email {
    text-align: center;
    font-size: 1rem;
}

.contact {
    background-color: #221e3f;

}

form {
    width: 70%;
    margin: 0 auto;
}

form label{
    font-size: 1.5rem;
}

input,
select,
textarea{
    width: 100%;
    padding: 1rem;
    margin-bottom: 5px;
    border: none;
    outline-color: #fd57bf;
}

input[type="submit"] {
    width: initial;
    background-color: #fd57bf;
    color: #eee;
    padding: 1rem 2rem;
    border-radius: 0.8rem;
    -webkit-transition: background-color 650ms;
    transition: background-color 650ms;
}

input[type="submit"]:hover{
    color: #221e3f;
    background-color: #ffe838;
}

/* End Contact */

/* Start Footer */

.copyright {
    width: 100%;
    text-align: center;
    background-color: #16162d;
    padding: 2rem 0;
    position: relative;
}

.copyright p {
    font-size: 1rem;
}

.up {
    position: absolute;
    width: 3rem;
    height: 3rem;
    background-color: #eee;
    top: -1.5rem;
    right: 2rem;
    border-radius: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-animation: pulse 2s infinite;
            animation: pulse 2s infinite;
    cursor: pointer;
}

.up i {
    color: #16162d;
    font-size: 1.5rem;
    margin: auto;
}

/* End Footer */

/* Start Animations */

@-webkit-keyframes pulse {
    0%{
        box-shadow: 0 0 0 0 rgba(253,87,199, .99);
    }
    70%{
        box-shadow: 0 0 0 2rem rgba(253,87,199, 0);
    }
    100%{
        box-shadow: 0 0 0 0 rgba(253,87,199, 0);
    }
}

@keyframes pulse {
    0%{
        box-shadow: 0 0 0 0 rgba(253,87,199, .99);
    }
    70%{
        box-shadow: 0 0 0 2rem rgba(253,87,199, 0);
    }
    100%{
        box-shadow: 0 0 0 0 rgba(253,87,199, 0);
    }
}

@-webkit-keyframes logoAnimation {
    0% {
        opacity: 0;
        -webkit-transform: rotateY(90deg);
                transform: rotateY(90deg);
        -webkit-filter: blur(10px);
                filter: blur(10px);
    }
    100% {
        opacity: 1;
        -webkit-transform: rotateY(0deg);
                transform: rotateY(0deg);
        -webkit-filter: blur(0);
                filter: blur(0);
    }
}

@keyframes logoAnimation {
    0% {
        opacity: 0;
        -webkit-transform: rotateY(90deg);
                transform: rotateY(90deg);
        -webkit-filter: blur(10px);
                filter: blur(10px);
    }
    100% {
        opacity: 1;
        -webkit-transform: rotateY(0deg);
                transform: rotateY(0deg);
        -webkit-filter: blur(0);
                filter: blur(0);
    }
}

/* End Animations */

/* Start Media Queries */

@media screen and (max-width: 768px){
    body{
        background: url('../img/sitebg2.jpg') no-repeat center fixed;
        background-size: cover;
    }

    .nav-list{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .nav-link {
        font-size: 4.5rem;
    }

    ul.nav-list li{
        margin: 2rem 0;
    }

    .about-heading h1{
        font-size: 8rem;
    }

    .section-heading h1{
        font-size: 3rem;
    }

    .about-details .nav-list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: initial;
                flex-direction: initial;
    }

    .about-details li {
        margin: 0 2rem;
    }

    .icon-container {
        width: 7rem;
        height: 7rem;
    }

    .icon-container i {
        font-size: 4rem;
    }

    .timeline ul{
        width: 60%;
    }

    .timeline .date:before {
        font-size: 1rem;
    }
}

@media screen and (max-width: 600px){

    p {
        font-size: 1.5rem;
    }

    .menu-toggler{
        top: 2rem;
        right: 2rem;
        width: 5rem;
        height: 5rem;
    }

    .nav-link {
        font-size: 3.5rem;
    }

    .about-heading h6{
        font-size: 2.5rem;
    }

    .about .container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;

    }

    .section-heading h1::before {
        width: 20rem;
    }

    .section-heading h6{
        font-size: 1.5rem;
    }

    .profile-img{
        margin: 0 0 7rem 0;
    }

    .my-skills {
        -ms-grid-columns: 1fr 1fr 1fr;
            grid-template-columns: 1fr 1fr 1fr;
    }
    
    .portfolio-item{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .portfolio-img {
        margin: 0 0 2rem 0;
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
    }

    .portfolio-desc {
        margin: 0;
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
    }

    .portfolio-desc h2{
        font-size: 2.5rem;
    }

    .portfolio-desc h6{
        font-size: 1.75rem;
    }

    .portfolio-desc .cta{
        font-size: 1.5rem;
    }

    form{
        width: 100%;
    }

    .up{
        right: 2rem;
    }

    .cta.text-align-start, .cta.text-align-end{
        text-align: start;
        text-align: left;
    }
}

/* End Media Queries */